In [2]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv("adult.data.csv")

In [23]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [25]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = len(df.race.unique())

In [90]:
# What is the average age of men?
df[df['sex'] == 'Male'].age.mean().__round__(1)

39.43

In [44]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (len(df[df["education"] == 'Bachelors']) / len(df)) * 100 
print(percentage_bachelors)

16.44605509658794

In [42]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
#higher_education = df[df.education == 'Bachelors' | df.education == 'Masters' | df.education == 'Doctorate']
higher_education = len(df[(df["education"] == 'Bachelors') | (df["education"] == 'Masters') | (df["education"] == 'Doctorate')])
#higher_education.Bachelors
print(higher_education)

7491

In [109]:
lower_education = len(df) - higher_education 
print(lower_education, len(df))

25070 32561

In [114]:
# percentage with salary >50K
higher_education_rich = (len(df[((df["education"] == 'Bachelors') | (df["education"] == 'Masters') | (df["education"] == 'Doctorate')) & (df["salary"] == '>50K')]) / higher_education * 100).__round__(1)

#lower_education_rich = ( len(df[(   (df["education"] != 'Bachelors') | 
#                                    (df["education"] != 'Masters') | 
#                                    (df["education"] != 'Doctorate')) 
#                                &   (df["salary"] == '>50K')
#                                ]
#                             ) / len(df) * 100 
#                        ).__round__(1)
#

lower_education_map = ~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education_rich_map = lower_education_map & df.salary.isin(['>50K'])
ler_percent = df[lower_education_rich_map].shape[0] / df[lower_education_map].shape[0] * 100
lower_education_rich = round(ler_percent,1)

print(higher_education_rich, lower_education_rich)

C:\Users\arksi\AppData\Local\Temp\ipykernel_6504\1405095769.py:17: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. ser.count(level=1) should use ser.groupby(level=1).count().
  lower_education_rich = l_edu_sal.count('>50K')/len(l_edu_sal) * 100

ValueError: Series.count level is only valid with a MultiIndex

In [115]:
    # What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [117]:
    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len( df[ (df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K') ] )
rich_percentage = num_min_workers / len( df[ df['hours-per-week'] == min_work_hours ] ) * 100

print(num_min_workers, rich_percentage)

2 10.0

In [99]:
highest_earning_country_percentage = (df[df.salary.isin(['>50K'])].groupby('native-country').size() / df.groupby('native-country').size() * 100).max().round(1)

3.0677729744805466

In [106]:
    # What country has the highest percentage of people that earn >50K?
highest_earning_country = (df[df.salary.isin(['>50K'])].groupby('native-country').size() / df.groupby('native-country').size() * 100).idxmax()
highest_earning_country_percentage = (df[df.salary.isin(['>50K'])].groupby('native-country').size() / df.groupby('native-country').size() * 100).max().round(1)
highest_earning_country, highest_earning_country_percentage

('Iran', 41.9)

In [87]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[ (df['native-country'] == 'India') & (df['salary'] == '>50K') ].occupation.value_counts().index[0]
top_IN_occupation

'Prof-specialty'